
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User</h2>

<button class="btn btn-info" type="button" id="addressSearch"   
          onclick="location.href='@Url.Action("Payment", "Other")'"/>
